snippet flm "Fill Murray" i
http://fillmurray.com/
endsnippet 

snippet placeh "Placeholder Image"
a href="https://placeholder.com"><img src="https://via.placeholder.com/350x150"></a>
endsnippet
	
snippet bootstrap-css "Bootstrap CSS"
<link rel=“stylesheet” href=“https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css”>
endsnippet

snippet jquery "Bootstrap CSS"
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script></script>
endsnippet

snippet bootstrap-js "Bootstrap Javascript"
<script src=“https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js”></script>
endsnippet

snippet font-awesome "Font-awesome"
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
endsnippet
